*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Malgun Gothic', sans-serif;
    background-color: rgb(230, 230, 248);
    color: black;
}

.container{
    width: 600px;
    margin: 20px auto;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px black;
}

.header{
    background-color: rgb(214, 56, 83);
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.header h1{
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.header p{
    font-size: 15px;
    font-style: italic;
    opacity: 0.8;
}

.content{
    padding: 20px
}

.card{
    background-color: rgba(210, 208, 208, 0.807);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.card h3{
    color: rgb(15, 15, 95);
    margin-bottom: 10px;
}

hr{
    border: none;
    border-top: 1px solid rgb(15, 15, 93);
    margin-bottom: 20px
}

.profile-card{
    background-color: rgb(251, 141, 159);
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info p{
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}

.profile-info h2 {
  margin-bottom: 10px;
}

.skill-tags{
    display: flex;
    gap: 10px;
}

.tag{
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
}

.tag.html { background-color: pink; }
.tag.python { background-color: rgb(251, 151, 168); }
.tag.js { background-color: rgb(248, 97, 122); }
.tag.git { background-color: rgb(247, 18, 56); }

.intro-card p{
    font-size: 13px;
    line-height: 1.7;
    color: black;
    margin-bottom: 10px;
}

.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.form-group label{
    width: 80px;
    font-weight: bold;
    font-size: 15px;
}

.form-group input{
    flex: 1;
    padding: 8px 12px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    outline: none;
}

#name{ background-color:  rgb(242, 242, 193);}
#email{ background-color: rgb(203, 236, 249);}

.submit-btn{
    display: block;
    margin: 15px auto 0;
    padding: 8px 24px;
    background-color: rgb(50, 49, 49);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}
